<% layout("layout") -%>
  <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
    <div class="col-lg-12">
      <% include ../partials/adminpanel %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="container">
      <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 58px;">
        <div class="panel-heading" style="color: #ffffff;">

          Manage Enrollment

        </div>        <br>
        <div class="table-responsive">
          <div style="overflow-y: scroll; height:350px; ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="color: #ffffff; background-color: #020531;">ID No:</th>
                  <th style="color: #ffffff; background-color: #020531;">Name</th>
                  <th style="color: #ffffff; background-color: #020531;">Type</th>
                  <th style="color: #ffffff; background-color: #020531;">Action</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(function(user){ %>
                  <tr>
                    <td>
                      <%= user.idNumber %>
                    </td>
                    <td>
                      <%= user.profile.lastName %>,
                        <%= user.profile.firstName %>
                          <%= user.profile.middleName %>
                    </td>
                    <td>
                      <%= user.user %>
                    </td>
                    <td>
                      <a class="btn btn-info btn-sm" href="/enrollment/<%= user._id %>">
                        MANAGE ENROLL
                      </a>
                    </td>
                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>