<% layout('layout') -%>
<div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
<div class="col-lg-12">
  <% include ../partials/adminpanel %>
</div>
</div>
<div class="col-sm-6">

<div class="container">
  <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px;">
    <div class="panel-heading" style="color: #ffffff;">

      <a href="/enrollment" style="text-decoration: underline">Manage Enrollment</a> >> User Account Details

    </div>
    <!-- <div class="panel-heading">
      <h3>
        <span style="color: #ffffff;">User Account Details</span>
        <p style="color: #ffffff; font-size: 10px;">
         
      </h3>
    </div> -->
    <div style="padding: 5px;">
      <h1>
        <span>
          <%= user.profile.lastName %>,
            <%= user.profile.firstName %>
              <%= user.profile.middleName %>
        </span>
        <span style=" font-size: 20px; align:right ">
          <%= user.idNumber %>
        </span>
      </h1>
      </br>
      <h3>
        <span>Account Type:
          <%= user.user %>
        </span>
      </h3>
      <h3>
        <span>Section:
          <%= user.section %>
       </span>
      </h3>
      <h3>
        <span>Year Level:
         <%= user.yrLvl %>
        </span>
      </h3>
      <h3>
        <span>Gender:
          <%= user.gender %>
        </span>
      </h3>
      <h3>
        <span>Age:
          <%= user.age %>
        </span>
      </h3>
      <h3>
        <span>Birthday:
          <%= moment(user.birthdate).format("LL") %>
        </span>
      </h3>

      <h3>
        <span>Address:
          <%= user.address %>
        </span>
      </h3>

      <h3>
        <span>Contact:
          <%= user.contact %>
        </span>
      </h3>
    </div>
  </div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-3">
<form action="/enrollment/<%= user._id %>" method="POST">
<!-- <input type="hidden" name="firstName" value="<%= user.profile.firstName %>" />
<input type="hidden" name="middleName" value="<%= user.profile.middlneName %>" />
<input type="hidden" name="lastName" value="<%= user.profile.lastName %>" />
<input type="hidden" name="email" value="<%= user.email %>" /> -->
<label for="">Year Level: </label><br>
<select onChange="generateTable()" id="yrLvl" name="yrLvl" class="form-control">
  <option value="">Choose a year level...</option>
  <option value="grade1">Grade 1</option>
  <option value="grade2">Grade 2</option>
  <option value="grade3">Grade 3</option>
  <option value="grade4">Grade 4</option>
  <option value="grade5">Grade 5</option>
  <option value="grade6">Grade 6</option>
  <option value="grade7">Grade 7</option>
  <option value="grade8">Grade 8</option>
  <option value="grade9">Grade 9</option>
  <option value="grade10">Grade 10</option>
  <option value="grade11">Grade 11</option>
  <option value="grade12">Grade 12</option>
</select>
<label for="">Section: </label><br>
<div id="section">
        <select id="section1" onChange="generate()" name="section" class="form-control"><option value="joy">Joy</option><option value="love">Love</option></select>
</div>

</div>
</div>
</div>
<div id="enroll">
<div class="container">
    <div class="row>">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th>Subject</th>
                        <th>Teacher</th>
                    </thead>
<tbody>
<tr>
<td>
<select id="subject1" class="form-control" name="subject1">
<option value="english">English</option>
</select>
</td>
<td>
<select id="faculty1" class="form-control"  name="faculty1">
<option value="">Choose a faculty...</option>
</select>
</td>
</tr>
<tr>
<td>
<select id="subject2" class="form-control" name="subject2">
<option value="filipino">Filipino</option>
</select>
</td>
<td>
<select id="faculty2" class="form-control"  name="faculty2">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select id="subject3" class="form-control" name="subject3">
<option value="math">Math</option>
</select>
</td>
<td>
<select id="faculty3" class="form-control"  name="faculty3">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select id="subject4" class="form-control" name="subject4">
<option value="araling panlipunan">
Araling Panlipunan
</option>
</select>
</td>
<td>
<select id="faculty4" class="form-control"  name="faculty4">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select id="subject5" class="form-control" name="subject5">
<option value="mapeh">MAPEH</option>
</select>
</td>
<td>
<select id="faculty5" class="form-control"  name="faculty5">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select id="subject6" class="form-control" name="subject6">
<option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option>
</select>
</td>
<td>
<select id="faculty6" class="form-control"  name="faculty6">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select id="subject7" class="form-control" name="subject7">
<option value="computer">Computer</option>
</select>
</td>
<td>
<select id="faculty7" class="form-control"  name="faculty7">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select disabled id="subject8" class="form-control" name="subject8">
<option value="science">Science</option>
</select>
</td>
<td>
<select disabled id="faculty8" class="form-control"  name="faculty8">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select disabled id="subject9" class="form-control" name="subject9">
<option value="TLE">TLE(Technology and Livelihood Education)</option>
</select>
</td>
<td>
<select disabled id="faculty9" class="form-control"  name="faculty9">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
<tr>
<td>
<select disabled id="subject10" class="form-control" name="subject10">
<option value="Edukasyong Pantahanan at Pangkabuhayan">Edukasyong Pantahanan at Pangkabuhayan</option>
</select>
</td>
<td>
<select disabled id="faculty10" class="form-control"  name="faculty10">
<option value="">Choose a faculty...</option>

</select>
</td>
</tr>
</tbody>
</table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
    <button class="form-control btn btn-info btn-md">ENROLL</button>
</div>
</div>
</div>
</form>

<!-- <div class="container">
<div class="row>">
<div class="col-md-12">
<div class="table-responsive">
<table class="table">
<thead>
<th>Subject</th>
<th>Teacher</th>
<th>2nd Grading</th>
<th>3rd Grading</th>
<th>4th Grading</th>
<th>Final Grade</th>
<th>Remarks</th>
</thead>
<tbody>
<tr>
<td>asdasdasd</td>
<td>asdasdasd</td>
<td>asdasdasd</td>
<td>asdasdasd</td>
<td>asdasdasd</td>
<td>asdasdasd</td>
<td>asdasdada</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div> -->

<script>
    function generateTable(){
       var value = document.getElementById("yrLvl").value;
       if(value === "grade1"){
        $("#section1").empty();
        $("#section1").append('<option value="joy">Joy</option><option value="love">Love</option>');
        // $("#faculty").append('<% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %><%= faculty.profile.middleName %></option><% }); %>');        
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        $( "#subject8" ).prop( "disabled", true );
        $( "#subject9" ).prop( "disabled", true );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", true );
        $( "#faculty9" ).prop( "disabled", true );
        $( "#faculty10" ).prop( "disabled", true );
    }else if(value === "grade2"){
        $("#section1").empty();
        $("#section1").append('<option value="honor">Honor</option><option value="unity">Unity</option></select>');
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        $( "#subject8" ).prop( "disabled", true );
        $( "#subject9" ).prop( "disabled", true );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", true );
        $( "#faculty9" ).prop( "disabled", true );
        $( "#faculty10" ).prop( "disabled", true );
    }else if(value === "grade3"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="kindness">Kindness</option>'+
            '<option value="faith">Faith</option>'+
            '<option value="helpfulness">Helpfulness</option>'
        ); 
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", true );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", true );
        $( "#faculty10" ).prop( "disabled", true );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>'); 
              
    }else if(value === "grade4"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="generosity">Generosity</option>'+
            '<option value="charity">Charity</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", true );
        $( "#subject10" ).prop( "disabled", false );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", true );
        $( "#faculty10" ).prop( "disabled", false );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="Edukasyong Pantahanan at Pangkabuhayan">Edukasyong Pantahanan at Pangkabuhayan</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade5"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="cooperate">Cooperate</option>'+
            '<option value="punctuality">Punctuality</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", true );
        $( "#subject10" ).prop( "disabled", false );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", true );
        $( "#faculty10" ).prop( "disabled", false );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="Edukasyong Pantahanan at Pangkabuhayan">Edukasyong Pantahanan at Pangkabuhayan</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade6"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="courage">Courage</option>'+
            '<option value="responsibility">Responsibiliy</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", true );
        $( "#subject10" ).prop( "disabled", false );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", true );
        $( "#faculty10" ).prop( "disabled", false );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="Edukasyong Pantahanan at Pangkabuhayan">Edukasyong Pantahanan at Pangkabuhayan</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade7"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="faithfulness">Faithfulness</option>'+
            '<option value="obedience">Obedience</option>'+
            '<option value="humility">Humility</option>'+
            '<option value="patience">Patience</option>'+
            '<option value="frugality">Frugality</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", false );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", false );
        $( "#faculty10" ).prop( "disabled", true );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="TLE">TLE(Technology and Livelihood Education)</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade8"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="gratitude">Gratitude</option>'+
            '<option value="solidarity">Solidarity</option>'+
            '<option value="compassion">Compassion</option>'+
            '<option value="fortitude">Fortitude</option>'+
            '<option value="perseverance">Perseverance</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", false );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", false );
        $( "#faculty10" ).prop( "disabled", true );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="TLE">TLE(Technology and Livelihood Education)</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade9"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="dignity">Dignity</option>'+
            '<option value="sincerity">Sincerity</option>'+
            '<option value="serenity">Serenity</option>'+
            '<option value="diligence">Diligence</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", false );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", false );
        $( "#faculty10" ).prop( "disabled", true );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="TLE">TLE(Technology and Livelihood Education)</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade10"){
        $("#section1").empty();
        $("#section1")
        .append(
            '<option value="prudence">Prudence</option>'+
            '<option value="leadership">Leadership</option>'+
            '<option value="knowledge">Knowledge</option>'+
            '<option value="wisdom">Wisdom</option>'
        );
        $( "#subject8" ).prop( "disabled", false );
        $( "#subject9" ).prop( "disabled", false );
        $( "#subject10" ).prop( "disabled", true );
        $( "#faculty8" ).prop( "disabled", false );
        $( "#faculty9" ).prop( "disabled", false );
        $( "#faculty10" ).prop( "disabled", true );
        // $("#enroll").empty();
        // $("#enroll").append('<div class="container"><div class="row>"><div class="col-md-12"><div class="table-responsive"><table class="table"><thead><th>Subject</th><th>Teacher</th></thead><tbody><tr><td><select class="form-control" name="subject1"><option value="english">English</option></select></td><td><select class="form-control"  name="faculty1"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject2"><option value="filipino">Filipino</option></select></td><td><select class="form-control"  name="faculty2"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject3"><option value="math">Math</option></select></td><td><select class="form-control"  name="faculty3"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject4"><option value="araling panlipunan">Araling Panlipunan</option></select></td><td><select class="form-control"  name="faculty4"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject5"><option value="mapeh">MAPEH</option></select></td><td><select class="form-control"  name="faculty5"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject6"><option value="edukasyon sa pag papakatao">Edukasyon sa Pagpapakatao</option></select></td><td><select class="form-control"  name="faculty6"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject7"><option value="computer">Computer</option></select></td><td><select class="form-control"  name="faculty7"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject8"><option value="science">Science</option></select></td><td><select class="form-control"  name="faculty8"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr><tr><td><select class="form-control" name="subject9"><option value="TLE">TLE(Technology and Livelihood Education)</option></select></td><td><select class="form-control"  name="faculty9"><% faculties.forEach(function(faculty){ %><option value="<%= faculty._id %>"><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option><% }); %></select></td></tr></tbody></table></div></div></div></div>');
        
    }else if(value === "grade11"){
        
    }else if(value === "grade12"){
        
    }
       var section1 = document.getElementById("section1").value;
       var subject1 = document.getElementById("subject1").value;
       var subject2 = document.getElementById("subject2").value;
       var subject3 = document.getElementById("subject3").value;
       var subject4 = document.getElementById("subject4").value;
       var subject5 = document.getElementById("subject5").value;
       var subject6 = document.getElementById("subject6").value;
       var subject7 = document.getElementById("subject7").value;
       var subject8 = document.getElementById("subject8").value;
       var subject9 = document.getElementById("subject9").value;
       var subject10 = document.getElementById("subject10").value;
       console.log("Subject1: " +subject1);
       console.log("Subject2: " +subject2);
       console.log("Subject3: " +subject3);
       console.log("Subject4: " +subject4);
       console.log("Subject5: " +subject5);
       console.log("Subject6: " +subject6);
       console.log("Subject7: " +subject7);
       console.log("Subject8: " +subject8);
       console.log("Subject9: " +subject9);
       console.log("Subject10: " +subject10);
       $("#faculty1").empty();
            $("#faculty2").empty();
            $("#faculty3").empty();
            $("#faculty4").empty();
            $("#faculty5").empty();
            $("#faculty6").empty();
            $("#faculty7").empty();
            $("#faculty8").empty();
            $("#faculty9").empty();
            $("#faculty10").empty();
       <% for(var i = 0; i < handles.length; i++){ %>
        if(value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>" && subject1 == "<%= handles[i].subject %>"){
            $("#faculty1").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>" && subject2 == "<%= handles[i].subject %>"){
            
            $("#faculty2").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject3 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty3").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject4 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty4").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject5 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty5").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject6 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty6").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject7 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty7").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject8 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty8").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject9 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
           
            $("#faculty9").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject10 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 === "<%= handles[i].section %>"){
            
            $("#faculty10").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty === faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        }
       <% } %>
       

        console.log(value);
    
    }

    function generate(){
       var value = document.getElementById("yrLvl").value;        
        var section1 = document.getElementById("section1").value;
       var subject1 = document.getElementById("subject1").value;
       var subject2 = document.getElementById("subject2").value;
       var subject3 = document.getElementById("subject3").value;
       var subject4 = document.getElementById("subject4").value;
       var subject5 = document.getElementById("subject5").value;
       var subject6 = document.getElementById("subject6").value;
       var subject7 = document.getElementById("subject7").value;
       var subject8 = document.getElementById("subject8").value;
       var subject9 = document.getElementById("subject9").value;
       var subject10 = document.getElementById("subject10").value;
       console.log("Subject1: " +subject1);
       console.log("Subject2: " +subject2);
       console.log("Subject3: " +subject3);
       console.log("Subject4: " +subject4);
       console.log("Subject5: " +subject5);
       console.log("Subject6: " +subject6);
       console.log("Subject7: " +subject7);
       console.log("Subject8: " +subject8);
       console.log("Subject9: " +subject9);
       console.log("Subject10: " +subject10);
       $("#faculty1").empty();
            $("#faculty2").empty();
            $("#faculty3").empty();
            $("#faculty4").empty();
            $("#faculty5").empty();
            $("#faculty6").empty();
            $("#faculty7").empty();
            $("#faculty8").empty();
            $("#faculty9").empty();
            $("#faculty10").empty();
       <% for(var i = 0; i < handles.length; i++){ %>
        if(value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>" && subject1 == "<%= handles[i].subject %>"){
            $("#faculty1").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>" && subject2 == "<%= handles[i].subject %>"){
            
            $("#faculty2").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject3 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty3").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject4 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty4").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject5 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty5").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject6 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty6").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject7 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty7").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject8 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
            
            $("#faculty8").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject9 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 == "<%= handles[i].section %>"){
           
            $("#faculty9").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty == faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        } else if(subject10 == "<%= handles[i].subject %>" && value == "<%= handles[i].yrLvl %>" && section1 === "<%= handles[i].section %>"){
            
            $("#faculty10").append("<% faculties.forEach(function(faculty){ %> <% if(handles[i].faculty === faculty._id){ %> <option value='<%= faculty._id %>'><%= faculty.profile.lastName %>, <%= faculty.profile.firstName %> <%= faculty.profile.middleName %></option> <% } %> <% }); %>");
        }
       <% } %>
    }


</script>