<% layout("layout") -%>
  <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
    <div class="col-lg-12">
      <% include ../partials/adminpanel %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="container">
      <div class="panel panel-info col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px; min-height:500px;">

        <div class="panel-heading" style="color: #ffffff;">

          Student List

        </div>
        <label for="usr" style="margin-left: 5px; margin-top: 15px;">Sort By:</label>
        <div class="container">
          <div class="dropdown" style="margin-top:5px; margin-left: -10px;">
            <button style="border-radius: 5px;" class="dropdown-toggle" type="button" data-toggle="dropdown">--Please Select--
              <span class="caret"></span>
            </button>
         
            <form id="delete-form" class="form-group" action="/studentlist" method="POST">
              <select name="grading" class="btn btn-default">
                <option value="">Choose a Grading Period </option>              
                <option value="firstGrading">First Grading</option>
                <option value="secondGrading">Second Grading</option>
                <option value="thirdGrading">Third Grading</option>
                <option value="fourthGrading">Fourth Grading</option>
                <option value="firstSem">First Semester</option>
                <option value="secondSem">Second Semester</option>
              </select>
            <button class="btn btn-info">Allow Encoding of Grades</button>
            </form>
                <form id="delete-form" action="/studentlist?_method=PUT" method="POST">
              
                <button class="btn btn-info">Disable Encoding of Grades</button>
            </form>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Student #</a>
              </li>
              <li>
                <a href="#">Name</a>
              </li>
              <li>
                <a href="#">Year and Section</a>
              </li>
            </ul>
          </div>
        </div>

        <br>
        <div class="table-responsive">
          <div style="overflow-y: scroll; height:350px; ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="color: #ffffff; background-color: #020531;">Student #</th>
                  <th style="color: #ffffff; background-color: #020531;">Name</th>
                  <th style="color: #ffffff; background-color: #020531;">Year and Section</th>
                  <th style="color: #ffffff; background-color: #020531;">View</th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(function(user){ %>
                  <% if (user.yrLvl !== "") { %> 
                  <tr>
                    <td>
                      <%= user.idNumber %>
                    </td>
                    <td>
                      <%= user.profile.lastName %>,
                        <%= user.profile.firstName %>
                          <%= user.profile.middleName %>
                    </td>
                    <td>
                      <%= user.yrLvl %> -
                        <%= user.section %>
                    </td>
                    <td>
                      <a href="/studentlist/<%= user._id %>">
                        <button>
                          <i class="fa fa-eye " aria-hidden="true " style="color:black;"></i>
                        </button>
                      </a>
                    </td>
                  </tr>
                  <% } %>
                  <% }); %>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- //modal -->