<% layout("layout") -%>
    <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
        <div class="col-lg-12">
            <% include ../partials/facultypanel %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px; height:460px;">

                <div class="panel-heading" style="color: #ffffff;">Encode Student Grades</div>


                <div class="container ">
                    <br>
                    <label for="usr " style="margin-left: 5px; ">Year: <strong><%= yrLvl %></strong></label>
                    <label for="usr " style="margin-left: 55px; ">Section: <strong><%= section %></strong></label>
                    <label for="usr " style="margin-left: 110px; ">Subject: <strong><%= subject %></strong></label>
                    <br>
                </div>


                <br>
                <div class="table-responsive">
                    <div style="overflow-y: scroll; height:350px; ">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <tr>
                                        <th style="color: #ffffff; background-color: #020531;">Student </th>
                                        <th style="color: #ffffff; background-color: #020531;">1st Grading</th>
                                        <th style="color: #ffffff; background-color: #020531;">2nd Grading</th>
                                        <th style="color: #ffffff; background-color: #020531;">3rd Grading</th>
                                        <th style="color: #ffffff; background-color: #020531;">4th Grading</th>
                                        <th style="color: #ffffff; background-color: #020531;">Final Grading</th>
                                        <th style="color: #ffffff; background-color: #020531;">Remark</th>
                                    </tr>
                                </tr>
                            </thead>
                            <tbody>
                            <% handle.handles.forEach(function(subject){ %>
                            <form id="<%= subject._id %>" action="/encode-grades/<%= subject._id %>" method="POST" target="_blank">
                            <tr>
                                <td><%= subject.lastName %>, <%= subject.firstName %> <%= subject.middleName %></td>
                                <td>
                                    <input id="first" value="<%= subject.firstGrading %>" name="firstGrading" type="number" min="0" max="100" style="width:60px;" class="form-control">
                                </td>
                                <td>
                                    <input id="second" value="<%= subject.secondGrading %>" name="secondGrading" type="number" min="0" max="100" style="width:60px" class="form-control">
                                </td>
                                <td>
                                    <input id="third" value="<%= subject.thirdGrading %>" name="thirdGrading" type="number" min="0" max="100" style="width:60px" class="form-control">
                                </td>
                                <td>
                                    <input id="fourth" value="<%= subject.fourthGrading %>" name="fourthGrading" type="number" min="0" max="100" style="width:60px" class="form-control">
                                </td>
                                <td>
                                    <input  value="<%= subject.finalGrading %>" name="finalGrading" type="number" min="0" max="100" style="width:60px" class="form-control">
                                </td>
                                <td>
                                    <input id="remarks" value="<%= subject.remarks %>" name="remarks" type="text" style="width:60px" class="form-control">
                                </td>
                            </tr>
                            </form>
                            <% }); %>
                        </table>
                        <div style="margin-top:195px; margin-left:610px;">
                             <button id="encode" onclick="submitForms()" type="button" style="width: 100px;" class="btn btn-success">
                                ENCODE</button>
                            <button type="button"  style="width: 100px; margin-right:5px;" class="btn btn-success">
                                SAVE</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <script>
    function submitForms(){
        <% handle.handles.forEach(function(subject){ %>
            document.getElementById("<%= subject._id %>").submit();
       <% }); %>
    }
    </script>
