<% layout("layout") -%>
    <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
        <div class="col-lg-12">
            <% include ../partials/facultypanel %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px; height:460px;">

                <div class="panel-heading" style="color: #ffffff;">Encode Student Grades</div>


                <div class="container ">
                    <div class="dropdown " style="margin-top:5px; margin-left: -10px; ">
                        <button style="border-radius: 5px; " class="dropdown-toggle " type="button " data-toggle="dropdown ">--Please Select--
                            <span class="caret "></span>
                        </button>
                        <ul class="dropdown-menu ">
                            <li>
                                <a href="# ">Subject</a>
                            </li>
                            <li>
                                <a href="# ">Year</a>
                            </li>
                            <li>
                                <a href="# ">Section</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <br>
                <div class="table-responsive">
                    <div style="overflow-y: scroll; height:350px; ">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="color: #ffffff; background-color: #020531;">Year Level</th>
                                    <th style="color: #ffffff; background-color: #020531;">Section</th>
                                    <th style="color: #ffffff; background-color: #020531;">Subject</th>
                                    <th style="color: #ffffff; background-color: #020531;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% user.faculty.forEach(function(handle){ %>
                            <tr>
                                <td><%= handle.yrLvl  %></td>
                                <td><%= handle.subject %></td>
                                <td><%= handle.section %></td>
                                <td>
                                    <a href="/encode-grades/<%= user._id %>/<%= handle.yrLvl %>/<%= handle.subject %>/<%= handle.section %>">
                                        <button>
                                            <i class="fa fa-pencil " aria-hidden="true " style="color:black;"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>